@model IEnumerable<CustomerViewModel>

<a class="btn btn-success mt-5" style="margin: 10px" asp-controller="Customer" asp-action="Create">Create new customer</a>

<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Borrowed books count</th>
            <th>Edit customer</th>
            <th>Delete customer</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customerVM in Model)
        {
            <tr>
                <td>@customerVM.Customer.CustomerId</td>
                <td>@customerVM.Customer.Name</td>
                <td>@customerVM.BookCount</td>
                <td><a class="btn btn-info" asp-area="" asp-controller="Customer" asp-action="Update" asp-route-id="@customerVM.Customer.CustomerId">Edit</a></td>
                <td><a class="btn btn-danger" asp-area="" asp-controller="Customer" asp-action="Delete" asp-route-id="@customerVM.Customer.CustomerId">Delete</a></td>
            </tr>
        }
    </tbody>
</table>